.text-wrapper-7{
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 280px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 250px;
    white-space: nowrap;
  }
  .frame-green{
    background-color: #26d726;
    border-radius: 700px;
    height: 56px;
    left: 392px;
    position: absolute;
    top: 0;
    width: 59px;

  }
  .btn-home{
    all: unset;
    background-color: #3616ff;
    border-radius: 30px;
    height: 50px;
    margin-top: 20px;
    overflow: hidden;
    width: 400px;
    position: relative;
    left:400px;
    top: 400px;
  }