.home .evenement{
    width: 100%;
    background-color: beige;
    padding-top: 40px;
    /* display: flex; */

}
.home .evenement .content-evenement{
    width: 100%;
    height: 100%;
    display: flex;


}
.questions{
    height: 50vh;
} 
.questions-list{
    height: 40vh;
    padding: 15px;
    width: 100vw;
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;


}
.question{
    width: 80vw;
}
.attendees-list{
    height: 200px;
    padding: 15px;
    width: 400px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.attendee{
    width: 300px;
}

.img-evenement{
    width: 50%;
    height: 50%;
    margin: 10px;
    border-radius: 10px;

}
.img-evenement img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}
.content-rigth{
    margin: 10px; 
    position: inherit;   
    justify-content: space-around;

}
.content-rigth .name-evenement{
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.2;
    position: relative;
    bottom: 5px;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.content-rigth .button{
   
    position: absolute;
    right: 20px;
    top: 140px;

}
.content-rigth .button .btn-join-evenement:hover{
    background-color: #000000;
    color: rgb(226, 47, 128);
}
.content-rigth .button .btn-join-evenement{
    width: 150px;
    background-color: rgb(226, 47, 128);
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.2;
    padding: 10px 25px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;

}
.content-rigth .text-center{
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-top: 20px;

    
}
.content-rigth .club{
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 20px;
  

}
.content-rigth .description-evenement{
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 20px;

}
.content-rigth .datedebut{
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 20px;

}
.content-rigth .lieu{
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 20px;
    
}
.content-rigth .organisateurs{
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 20px;
}
.content-rigth .participation{
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 20px;
    
}
